.centeralized-container {
    height: 200px;
    width: 50%;
    position: absolute;
    top: 165px;
    left: 25%;
    font-size: 32pt;
}

.image-container {
  position:relative;
  text-align: center;
  padding: 10px;
  z-index: 100;
}
